.task-form {
  ion-item {
    --border-radius: 8px;
    --border-color: #3880ff;
    margin-bottom: 15px;
  }

  ion-button {
    margin-top: 20px;
  }
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

ion-list {
  margin-top: 20px;

  ion-item {
    --border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
}
